# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment (if stored locally)
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode project settings
.vscode/

# pre-commit backup files
.pre-commit-config.yaml~

# Test coverage reports
htmlcov/
.coverage
.coverage.*

# Logs and local state
*.log
*.sqlite3

# MacOS and system files
.DS_Store
Thumbs.db

# Local env and credentials
.env
.env.*

# alembic
alembic/versions/*.pyc
