# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment (if stored locally)
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# VSCode project settings
.vscode/

# pre-commit logs
.pre-commit-config.yaml~
